<%- include('./_partials/top'); %>

<h1>Verify</h1>
<div class="mt-10 flex items-center justify-center gap-x-6">
  <a href="/sms" class="button">2FA via SMS</a>
  <a href="/silent" class="button">Silent Auth</a>
</div>

<%- include('./_partials/bottom'); %>